### --- IntelliJ IDEA 相关 --- ###
# 存储项目特定配置的目录
.idea/
# IntelliJ IDEA 模块文件
*.iml
# IntelliJ IDEA 工作区文件
*.iws
# IntelliJ IDEA 项目文件
*.ipr
# 编译输出目录
out/

### --- Maven 相关 --- ###
# Maven 构建输出目录
target/
# 所有模块下的target目录
**/target/

### --- 系统文件 --- ###
# Mac OS X 系统目录文件
.DS_Store
# Windows 缩略图缓存
Thumbs.db

### --- 其他编译输出和临时文件 --- ###
# Java 类文件
*.class
# 日志文件
*.log
# 压缩包文件
*.jar
*.war
*.zip
